<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iyb.ak.mapper.ApiMapper" >
  <resultMap id="BaseResultMap" type="com.iyb.ak.entity.Api" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="UUID" property="uuid" jdbcType="CHAR" />
    <result column="URL" property="url" jdbcType="VARCHAR" />
    <result column="ORDER_NUM" property="orderNum" jdbcType="INTEGER" />
    <result column="HTTP_METHOD" property="httpMethod" jdbcType="VARCHAR" />
    <result column="INSERT_USER" property="insertUser" jdbcType="CHAR" />
    <result column="INSERT_TIME" property="insertTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_USER" property="updateUser" jdbcType="CHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="DELETE_FLAG" property="deleteFlag" jdbcType="BIT" />
  </resultMap>
</mapper>